- provide(:title, 'Help')
%h1 Help

%p Here you can find some help if you're having trouble to get started with Accounty.

%ol{id: 'help-steps'}
  %li Sign up: go to <a href='/signup' target='_blank'>Sign up</a> and create an account.
  %li Create a company: After sign up you should be redirected to your dashboard, there you have the option to create a company, provide a name, a brief description, a logo (optional) and that's it.
  %li Create some accounts: Select your company and in there you have the option to create accounts, you need these to describe your operations, assets for what you have, liabilities for what you owe.
  %li Register operations: in your company page you have the option to register operations, for example, "Buy a laptop".
  %li Add details to previous operations, for example, "Inventory + $9,000", "Bank -$9,000".
  %li Generate reports: If you need a report of your activities for a certain period of time, go to your company page and you will find the option to generate reports.

%p If you need help with the basics of accounting, check this <a href='http://en.wikipedia.org/wiki/Accounting' target='_blank'>link</a> out.
