- if logged_in?
  %ul{class: 'breadcrumb'}
    %li{class: 'active'} My companies

%h1 My companies

%div{class: 'row'}
  %div{class: 'container-fluid'}
    %ul{class: 'nav navbar-nav'}
      %li= link_to 'Add company', new_user_company_path(@user)

%div{class: 'row'}
  %div{class: 'container-fluid'}
    - if @companies.empty?
      %div{class: 'text-center'} No companies yet.
    - else
      %ul{class: 'col-xs-12 company-items'}
        - @companies.each do |company|
          %li
            %div{class: 'col-xs-12 col-sm-2 text-center'}
              = cl_image_tag((company.logo || 'company_logo.png'), alt: 'logo', with: 48, height: 48)
            %div{class: 'col-xs-12 col-sm-10'}
              %div{class: 'company-item-title text-left-center-xs text-left-center-sm'}
                = link_to company.name, user_company_path(@user, id: company.id)
