@import 'bootstrap-sprockets';
@import 'bootstrap';

body {
  padding-top: 60px;
}

h1 {
  text-align: center;
}

footer {
  margin-top: 100px;
  padding: 10px;
  text-align: center;
}

.center {
  text-align: center;
}

#main-navbar {
  a {
    &:hover {
      background-color: $brand-primary;
      color: white;
    }
  }
}

.flash-messages {
  li {
    list-style: none;
  }
}

.error-explanation {
  color: red;
}

.company-items {
  li {
    list-style-type: none;
    height: 100px;
    padding: 5px;
    margin-bottom: 20px;
    margin-left: 0;
    &:hover {
      background-color: $gray-lighter;

    }
  }

  a {
    text-decoration: none;
    font-size: 1.6em;
  }
}

.company-item-title {
  display: block;
  text-align: left;
  margin-top: 10px;
}

.text-left-center-xs {
    text-align: center;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .text-left-center-sm {
        text-align: left;
    }
}

.text-right-center-xs {
    text-align: center;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .text-right-center-sm {
        text-align: right;
    }
}

.inline-form-group {
  @extend .form-group;
  label {
    display: inline;
  }

  input {
    display: inline;
  }
}

.number {
  font-family: monospace;
}

.black-number {
  @extend .number;
  display: inline;
  color: black;
}

.red-number {
  @extend .number;
  display: inline;
  color: red;
}

.unbalanced-icon {
  @extend .glyphicon;
  @extend .glyphicon-warning-sign;
  color: red;
}

.balanced-icon {
  @extend .glyphicon;
  @extend .glyphicon-ok;
  color: green;
}

.asset-icon {
  @extend .glyphicon;
  @extend .glyphicon-plus;
  color: green;
}

.liability-icon {
  @extend .glyphicon;
  @extend .glyphicon-minus;
  color: red;
}

.breadcrumb {
  margin-top: -20px;
  background-color: #fff;
}

#help-steps {
  li {
    margin-bottom: 15px;
  }
}
