@import 'bootstrap-sprockets';
@import 'bootstrap';

body {
  padding-top: 60px;
}

h1 {
  text-align: center;
}

footer {
  margin-top: 100px;
  padding: 10px;
  text-align: center;
}

.center {
  text-align: center;
}

#main-navbar {
  a {
    &:hover {
      background-color: $brand-primary;
      color: white;
    }
  }
}

.flash-messages {
  li {
    list-style: none;
  }
}

.error-explanation {
  color: red;
}

.company-items {
  li {
    list-style: none;
    height: 80px;
    padding: 5px;
    margin-bottom: 10px;
  }

  a {
    text-decoration: none;
    font-size: 1.6em;
  }
}

.company-item-title {
  display: block;
  margin-top: 10px;
}
